body{
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
}

a, a:hover, a:visited{
	color:#eee;
}

h1{
	font-size: 24px;
	margin-bottom:30px;
}

h2{
	margin-bottom:10px;
}

.main{
	margin:40px;
}

section{
	display:inline-block;
	width:100%;
}

.example{
	float:left;
	margin:0 50px;
}

.box{
	float: left;
	padding: 10px;
	background-color: #eee;
	width:100px;
	margin:0 10px 10px 0px;
	text-align:center;
}

hr{
	margin:20px 0;
	color: #ddd;
	background-color: #ddd;
	height: 2px;
	border:none;
}